@charset "UTF-08";
body{
    background-color: black;
    background-image: url('imagens/wallpaper002.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    /* Shorthand - background 
    color>image>position>repeat>[size]>attachment - versão abreviada para a declaração feita acima*/
}
div{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.651);
    box-shadow: 1px 1px 1px 1px;
    margin: auto;
    max-width: 400px;


}
h1{
    text-align: center;
}
p{
    text-align: justify;
    text-indent: 20px;
}